<%= form_with model: @user, class: "user-form" do |form| %>
  <div>
    <%= form.label :username, "Enter your name here" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, "Email address" %>
    <%= form.email_field :email, placeholder: "example@example.com" %>
  </div>

  <div>
    <%= form.label :password, "Super secret password" %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit %>
<% end %>
