<%= form_tag("/users", method: :post, class: "user-form") do %>
  <div>
    <%= label_tag(:username) %>
    <%= text_field(:user, :username) %>
  </div>

  <div>
    <%= label_tag(:email) %>
    <%= email_field(:user, :email) %>
  </div>

  <div>
    <%= label_tag(:password) %>
    <%= password_field(:user, :password) %>
  </div>

  <%= submit_tag "Create User" %>
<% end %>
